@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
               
        body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #2e7d32;
            color: white;
        }
        
        nav ul {
           display: flex;
            gap: 15px;
        }
        nav ul li {
            display: flex;
        }
        nav ul li a,  #signup{
            text-decoration: none;
            color: white;
            cursor: pointer;
            font-size: 16px;
            padding: 8px 12px;
        }
        #signup {
            background-color: #388e3c;
            border-radius: 5px;
           
        }
        .hero {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px;
            background-color: #e8f5ee6d;
        }
        .content {
            max-width: 50%;
            text-decoration-color: rgb(0, 0, 0);
        }
    
        .read-more {
            background-color: #388e3c;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .container {
            width: 100%;
            max-width: 800px;
            margin: 50px auto;
        }

